<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
    
    </helpfulcore>
    <processors>
      <uiCopyItems>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel" method="GetDestination"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel" method="CheckDestination"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel" method="CheckLanguage"/>
        <processor mode="on" type="Sitecore.Buckets.Pipelines.UI.ItemCopy, Sitecore.Buckets" method="Execute" patch:source="Sitecore.Buckets.config"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel" method="Execute"/>
      </uiCopyItems>
      <uiDuplicateItem>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DuplicateItem,Sitecore.Kernel" method="CheckPermissions"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DuplicateItem,Sitecore.Kernel" method="GetName"/>
        <processor mode="on" type="Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets" method="Execute" patch:source="Sitecore.Buckets.config"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DuplicateItem,Sitecore.Kernel" method="Execute"/>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>