<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
    
    </helpfulcore>
    <processors>
      <uiCopyItems>
        <processor mode="on" type="Helpfulcore.Commands.Pipelines.UiCopyItems.UpdateDataSources,Helpfulcore.Commands" method="Execute"/>
      </uiCopyItems>
      <uiDuplicateItem>
        <processor mode="on" type="Helpfulcore.Commands.Pipelines.UiDuplicateItem.UpdateDataSources,Helpfulcore.Commands" method="Execute"/>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>