<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiCopyItems>
        <processor mode="on" type="Helpfulcore.Commands.Pipelines.UiCopyItems.UpdateDataSources,Helpfulcore.Commands" method="Execute"/>
      </uiCopyItems>
      <uiDuplicateItem>
        <processor mode="on" type="Helpfulcore.Commands.Pipelines.UiDuplicateItem.BucketsItemDuplicate,Helpfulcore.Commands" method="Execute" 
                   patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets']"/>
        <processor mode="on" type="Helpfulcore.Commands.Pipelines.UiDuplicateItem.UpdateDataSources,Helpfulcore.Commands" method="Execute" 
                   patch:after="*[@type='Helpfulcore.Commands.Pipelines.UiDuplicateItem.BucketsItemDuplicate,Helpfulcore.Commands']"/>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>